## Name: Sankalp Sandeep Indish
## Class: TE-B
## Batch: B4
## Subject: DSBDAL
## Roll No.: TEB75
## Dataset: Car Prices [https://github.com/Azure/carprice/blob/master/dataset/carprice.csv]

### Title: Data Wrangling, 1
### Problem Statement:-
#### 1. Perform the following operations using Python on any open source dataset (e.g., data.csv)
#### 2. Import all the required Python Libraries.
#### 3. Locate an open source data from the web (e.g., https://www.kaggle.com). Provide a clear description of the data and its source (i.e., URL of the web site).
#### 4. Load the Dataset into pandas dataframe.
#### 5. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() function to get some initial statistics. Provide variable descriptions. Types of variables etc. Check the dimensions of the data frame.
#### 6. Data Formatting and Data Normalization: Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. If variables are not in the correct data type, apply proper type conversions.
#### 7. Turn categorical variables into quantitative variables in Python.
#### 8. In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set

In [54]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [55]:
# Adding the dataset to a dataframe
df = pd.read_csv("carprice.csv")

In [56]:
# Checking the rows and columns that are available in the dataset
df.shape

(199, 26)

In [57]:
# Checking the dimensions in the dataset
df.ndim

2

In [58]:
# Checking the first 5 records
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [59]:
# Checking the last 5 records
df.tail()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
194,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,2952,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
195,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.8,55.5,3049,ohc,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
196,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3012,ohcv,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
197,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3217,ohc,six,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
198,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,188.8,68.9,55.5,3062,ohc,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [60]:
# Checking the basic statistical information of the dataset
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
count,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,0.788945,98.852764,174.099497,65.905528,53.816583,2558.829146,127.949749,3.328442,3.248945,10.171960,104.150754,5107.788945,25.412060,30.904523
std,1.220895,6.085940,12.489391,2.176300,2.395002,528.005482,41.534670,0.274602,0.311583,4.027676,40.051827,467.587982,6.523544,6.900880
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.000000,52.000000,2142.500000,98.000000,3.150000,3.110000,8.500000,70.000000,4800.000000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.400000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,25.000000,30.000000
75%,2.000000,102.400000,183.500000,66.900000,55.550000,2953.000000,145.500000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,36.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000

In [61]:
# Checking null counts and value counts
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          199 non-null    int64
 1   normalized-losses  199 non-null    object
 2   make               199 non-null    object
 3   fuel-type          199 non-null    object
 4   aspiration         199 non-null    object
 5   num-of-doors       199 non-null    object
 6   body-style         199 non-null    object
 7   drive-wheels       199 non-null    object
 8   engine-location    199 non-null    object
 9   wheel-base         199 non-null    float64
 10  length             199 non-null    float64
 11  width              199 non-null    float64
 12  height             199 non-null    float64
 13  curb-weight        199 non-null    int64
 14  engine-type        199 non-null    object
 15  num-of-cylinders   199 non-null    object
 16  engine-size        199 non-null    int64
 17  fuel-system        199 non-null    object
 18  bore               199 non-null    float64
 19  stroke             199 non-null    float64
 20  compression-ratio  199 non-null    float64
 21  horsepower         199 non-null    int64
 22  peak-rpm           199 non-null    int64
 23  city-mpg           199 non-null    int64
 24  highway-mpg        199 non-null    int64
 25  price              199 non-null    object
dtypes: float64(7), int64(7), object(12)
memory usage: 40.5+ KB

In [62]:
# Rechecking the rows and columns
df.shape

(199, 26)

In [63]:
# Checking null values
df.isnull()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
196,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
197,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
198,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [64]:
# Above doesnt give summmarized information of null values, so use:-
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [65]:
# There are no null values present in the dataset

In [66]:
# Checking the datatypes of the columns present in the dataset
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int64
peak-rpm               int64
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [67]:
df['normalized-losses'].tail(15)

184    256
185      ?
186      ?
187      ?
188    103
189     74
190    103
191     74
192    103
193     74
194     95
195     95
196     95
197     95
198     95
Name: normalized-losses, dtype: object

In [68]:
# As we see above, there exists a question mark in 'normalized-losses' columns, so we need to replace it with 0 [for now]

In [69]:
df['normalized-losses'] = df['normalized-losses'].replace('?', 0)

In [70]:
# Now we recheck the column
df['normalized-losses'].head(15)

0       0
1       0
2       0
3     164
4     164
5       0
6     158
7       0
8     158
9       0
10    192
11    192
12    188
13    188
14      0
Name: normalized-losses, dtype: object

In [71]:
# This standardizes the column

In [72]:
# That makes it better, but the column has integer values and the data-type is object, lets convert that
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'], downcast='integer', errors='coerce')

In [73]:
# Now lets look at all columns values
pd.set_option('display.max_columns', None)
df.head(3)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500

In [74]:
print(df.dtypes)

symboling              int64
normalized-losses      int16
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int64
peak-rpm               int64
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

## Operations needed:-
### 1) Make, fuel-type, aspiration, body-style, drive-wheels, engine-location, engine-type, fuel-system are categorical values that need to be converted to quantitative.
### 2) num-of-doors and num-of-cylinders have values present but in text so need to handle that
### 3) price is again direct integer, but written as object, so need to convert it to numeric

In [75]:
# Let us convert price to int:-
df['price'] = pd.to_numeric(df['price'], downcast='integer', errors='coerce')

In [76]:
df['price']

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
194    16845.0
195    19045.0
196    21485.0
197    22470.0
198    22625.0
Name: price, Length: 199, dtype: float64

In [77]:
# Now that is achieved, we will convert num-of-doors and num-of-cylinders

# Checking all types of values that are present in columns
df['num-of-doors'].unique()

array(['two', 'four', '?'], dtype=object)

In [78]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'eight'], dtype=object)

In [80]:
df['num-of-doors'] = df['num-of-doors'].replace('?', 0)

In [82]:
df['num-of-doors'].unique()

array(['two', 'four', 0], dtype=object)

In [83]:
df['num-of-doors'] = df['num-of-doors'].replace('two', 2)

In [84]:
df['num-of-doors'] = df['num-of-doors'].replace('four', 4)

In [85]:
df['num-of-doors'].unique()

array([2, 4, 0], dtype=int64)

In [86]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('three', 3)

In [87]:
df['num-of-cylinders'].unique()

array(['four', 'six', 'five', 3, 'twelve', 'eight'], dtype=object)

In [88]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('four', 4)

In [89]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('six', 6)

In [90]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('five', 5)

In [91]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('twelve', 12)

In [92]:
df['num-of-cylinders'] = df['num-of-cylinders'].replace('eight', 8)

In [93]:
df['num-of-cylinders'].unique()

array([ 4,  6,  5,  3, 12,  8], dtype=int64)

In [94]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,0,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,4,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,0,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,6,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164,audi,gas,std,4,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,4,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,164,audi,gas,std,4,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,5,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
5,2,0,audi,gas,std,2,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,5,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250.0
6,1,158,audi,gas,std,4,sedan,fwd,front,105.8,192.7,71.4,55.7,2844,ohc,5,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710.0
7,1,0,audi,gas,std,4,wagon,fwd,front,105.8,192.7,71.4,55.7,2954,ohc,5,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920.0
8,1,158,audi,gas,turbo,4,sedan,fwd,front,105.8,192.7,71.4,55.9,3086,ohc,5,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875.0
9,0,0,audi,gas,turbo,2,hatchback,4wd,front,99.5,178.2,67.9,52.0,3053,ohc,5,131,mpfi,3.13,3.40,7.0,160,5500,16,22,NaN

In [51]:
# Now we have to deal with:- 
# Make, fuel-type, aspiration, body-style, drive-wheels, engine-location, engine-type, 
# fuel-system are categorical values that need to be converted to quantitative.

In [98]:
encoding_list = ['make','fuel-type', 'aspiration', 'body-style', 'drive-wheels', 'engine-location', 'engine-type', 'fuel-system']
df[encoding_list] = df[encoding_list].apply(LabelEncoder().fit_transform)

In [99]:
df[encoding_list]

,make,fuel-type,aspiration,body-style,drive-wheels,engine-location,engine-type,fuel-system
0,0,1,0,0,2,0,0,4
1,0,1,0,0,2,0,0,4
2,0,1,0,2,2,0,5,4
3,1,1,0,3,1,0,3,4
4,1,1,0,3,0,0,3,4
...,...,...,...,...,...,...,...,...
194,20,1,0,3,2,0,3,4
195,20,1,1,3,2,0,3,4
196,20,1,0,3,2,0,5,4
197,20,0,1,3,2,0,3,2
198,20,1,1,3,2,0,3,4

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          199 non-null    int64
 1   normalized-losses  199 non-null    int16
 2   make               199 non-null    int32
 3   fuel-type          199 non-null    int64
 4   aspiration         199 non-null    int64
 5   num-of-doors       199 non-null    int64
 6   body-style         199 non-null    int64
 7   drive-wheels       199 non-null    int64
 8   engine-location    199 non-null    int64
 9   wheel-base         199 non-null    float64
 10  length             199 non-null    float64
 11  width              199 non-null    float64
 12  height             199 non-null    float64
 13  curb-weight        199 non-null    int64
 14  engine-type        199 non-null    int64
 15  num-of-cylinders   199 non-null    int64
 16  engine-size        199 non-null    int64
 17  fuel-system        199 non-null    int64
 18  bore               199 non-null    float64
 19  stroke             199 non-null    float64
 20  compression-ratio  199 non-null    float64
 21  horsepower         199 non-null    int64
 22  peak-rpm           199 non-null    int64
 23  city-mpg           199 non-null    int64
 24  highway-mpg        199 non-null    int64
 25  price              195 non-null    float64
dtypes: float64(8), int16(1), int32(1), int64(16)
memory usage: 38.6 KB

In [102]:
df.head(4)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,0,0,1,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,4,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,0,0,1,0,2,0,2,0,88.6,168.8,64.1,48.8,2548,0,4,130,4,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,0,0,1,0,2,2,2,0,94.5,171.2,65.5,52.4,2823,5,6,152,4,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,164,1,1,0,4,3,1,0,99.8,176.6,66.2,54.3,2337,3,4,109,4,3.19,3.40,10.0,102,5500,24,30,13950.0